.header{
    .top_nav_wrapper{
        background:#0000006e;
        padding: 20px 0;
    }
    .top_nav {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }
        input {
            border-radius: 5px;
            padding: 10px;
            width: 300px;
            border: none;
        }
        .cart_icon {
            color:green;
            width:30px;
            height:30px
        }
    }
    .inner_nav{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background:#b0b0f1;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
}